<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
        <table width="800px" heigh="800px" align="center">
            <caption>
                <h2>Appointments Home Screen</h2>
            </caption>
            <tr bgcolor="white" >
                <td><a href="#">ADD</a></td>
                <td colspan="3">Filters</td>
                <td colspan="3">Status</td>
            </tr>
        </table>
    </div>
    <div>
        <table bgcolor="black" cellspacing="0" width="800px" heigh="400px" align="center">
            <tr bgcolor="gray" >
                <td><a href="#">Del</a>Status</td>
                <td>Data</td>
                <td>Time</td>
                <td>Person</td>
                <td>Title</td>
                <td>Description</td>
                <td>Changed</td>
            </tr>
        </table>
    </div>
</body>
</html>